
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
         url(fonts/MaterialIcons-Regular.woff) format('woff'),
         url(fonts/MaterialIcons-Regular.ttf) format('truetype');
 }
 
 /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-102 { font-size: 102px; }


 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
    color: white;
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
 }

body {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url("imgs/bg.jpg");
    background-position: center 60%;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}


.white_cover {
    position: absolute;
    background-color: white;
    opacity: .7;
    height: 100%;
    width: 100%;
    z-index: -1;
}

button {
    background-color: #FFFF;
    border-radius: 10px;
    outline: none;
    margin: 10px 10px 10px 10px;
}

button > h3 {
    margin: 10px;
    color: #FFFF;
}

.card {
    width: 500px;
    height: 300px;
    border: 0em;
    border-radius: 15px;
    margin: 30px 50px 0px 50px;
    background-color: #ff7575;
    /* background-color: #ff2c3ece; */
    box-shadow: 0px 0px 5px 0px #ff2c3ee9, 0 0 0 15px #ffffffeb;
    /* box-shadow: .4rem .2rem .2rem .1rem rgba(235, 168, 161, 0.6); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
}

.card:hover,
.card:target {
    transform: translateY(-.5rem);
    box-shadow: .2rem .2rem .4rem .6rem #ffffffeb;
    cursor: pointer;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 50px;
}